.scroll-to-top-btn {
  position: fixed;
  right: 32px;
  bottom: 40px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  // background: peru;
  background: steelblue;
  color: white;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s;
  z-index: 2000;

  &:hover {
    background: #ffe0b2;
    transform: scale(1.1);
  }
}
